@font-face {
  font-family: 'Ovo';
  src: url('../fonts/Ovo-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Tinos';
  src: url('../fonts/Tinos-Regular.ttf')  format('truetype');
}



html, body, ul, ol {
	margin: 0;
	padding: 0;
}

ul, ol { list-style: none; }

html {
	font-size: 14px;
}

body {
	font-family: 'Ovo', serif;
	font-size: 1rem;
}

@media (min-width: 34rem) {
	body {
		font-size: 1.5rem;
	}
}

h1 {
	font-size: 3rem;
}

