@font-face {
  font-family: 'Ovo';
  src: url('../fonts/Ovo-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Tinos';
  src: url('../fonts/Tinos-Regular.ttf')  format('truetype');
}



html, body, ul, ol {
	margin: 0;
	padding: 0;
}

ul, ol { list-style: none; }

body {
	font-family: 'Ovo', serif;
}
