.oPage {
	position: fixed;
	top: 		 0 ;
	bottom:  0 ;
	left:  100%;
	width: 100%;
	overflow: auto;

	background-image: url('old_paper.jpg');
	background-size: 100% auto;
}

.oPage.isActive {
	left: 0;
}

.oPage.isRendered {
	left: -100%;
}

	.oPage_logo {
		display: block;
		margin: 3rem auto 1rem;
	}

	.oPage_link {
		font-size: 2rem;
		color: #00c;
	}

	.oPage_hero {
		display: block;
		background-color: #fff;
		text-align: center;
		padding: 0 2rem;
	}

		.oPage_hero > img {
			width: 100%;
			margin: 1rem auto;
		}

		@media (min-width: 23rem) {
			.oPage_hero > img {
				width: auto;
				height: 370px;
			}
		}

	.oPage_header {
		display: block;
		text-align: center;
		font-size: 2rem;
		margin: 0 0 1rem ;
		padding: .5rem;
	}

.fillMain {
	background-color: rgba(120,40,0,0.3);
	color: #6F1D0A;
}

.fillRoot {
	background-color: rgba(120,40,0,0.4);
	color: #fff;
}

	.fillRoot:hover { background-color: rgba(120,40,0,0.5); }


.fillSecondary {
	background-color: rgba(255,255,255,0.4);
	color: #6F1D0A;
}

	.fillSecondary:hover { background-color: rgba(255,255,255,0.6); }
